@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
             <h1 class="display-4 text-center">Moroder</h1>
              <p class="lead text-center">Gerencie seus robôs com facilidade</p>
        </div>
    </div>

    <div>
        <a class="btn btn-outline-primary" href="#" role="button">Criar Robô</a>
    </div>

    <div>
    </div>
</div>